
   <div 
      data-controller = "modal"
      id="modal-<%=modal_trigger_id%>-container"
      data-modal-trigger-id="<%=modal_trigger_id%>"
      class="hidden fixed top-0 left-0  flex items-center justify-center w-full h-full min-h-screen px-4 py-5 bg-gray-500 bg-opacity-50"
      >

      <div class="hidden" id= "<%=modal_trigger_id%>" data-action="click->modal#displayModal"></div>
      <div
        id="modal-<%=modal_trigger_id%>-backdrop"
         class="hidden fixed top-16 w-full md:max-w-lg rounded-[20px] bg-white dark:bg-dark-2 pb-2"
            data-transition-enter="ease-out duration-500"
            data-transition-enter-start="opacity-0"
            data-transition-enter-end="opacity-100"
            data-transition-leave="ease-in duration-200"
            data-transition-leave-start="opacity-100"
            data-transition-leave-end="opacity-0"
        >
        <%= render modal_content %>
         </div>

        </div>
      </div>
  