<div class="flex">
<% @properties.each do |p| %>
<div> 
<p> <%= p.name %> </p>
<p> <%= p.headline%> </p>
<p> <%= p.description%> </p>
<p> <%= p.address1 %> </p>
<p> <%= p.city%> </p>
<p> <%= p.state %> </p>
<p> <%= p.country %> </p>
</div>
<% end %>
</div>