
<!-- ====== Forms Section Start -->
<section class="pt-12 pb-8 flex items-center justify-center bg-gray-100 h-full">
   <div class="container mx-auto">
   
      <div class="flex flex-wrap mx-4">
         <div class="w-full px-4">
            <div
               class="relative mx-auto max-w-[525px] overflow-hidden rounded-lg bg-white py-10 px-10 text-center sm:px-12 md:px-[60px]"
               >
               <div class="mb-5 text-center md:mb-4">
                  <a
                     href="javascript:void(0)"
                     class="mx-auto inline-block max-w-[160px]"
                     >
                  <img
                     src="<%= asset_path('logo.webp')%>"
                     alt="logo"  style="object-fit:contain; 
                     object-position:left; height:80px; width:100px;"
                     />
                  </a>
                  <h2 class="w-full text-xl text-gray-600 justify-center mt-3">Log in</h2>
               </div>
               <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="mb-6">
                <%= f.label :email, class:"sr-only"%><br />
                        <%= f.email_field :email, autofocus: true, placeholder:"Email", autocomplete: "email", type:"email", class: "w-full px-5 py-3 text-base bg-transparent border rounded-md outline-none border-stroke text-body-color focus:border-primary focus-visible:shadow-none" %>
                  </div>
            <div class="mb-6">
                    
                <%= f.label :password, class:"sr-only" %>
              <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password", type:"password", class: "w-full px-5 py-3 text-base bg-transparent border rounded-md outline-none border-stroke text-body-color focus:border-primary focus-visible:shadow-none" %>
            </div>
            <% if devise_mapping.rememberable? %>
            <div class="mb-6 flex justify-between text-blue-500 text-sm">
            <div class="relative">
              <%= f.check_box :remember_me, class: "h-[15px] w-[15px] border-gray-600 rounded-sm" %>
              <%= f.label :remember_me %>
              </div>
              <div class="field">
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            </div>
            </div>
          <% end %>
            <div class="mb-10">
            <%= f.submit "Log in", class: "bg-[#ff395c] hover:bg-[#df1761] hover:text-white block w-full h-12  text-base font-medium text-center transition border rounded-md border-stroke text-dark text-gray-200 cursor-pointer" %>
            </div>
            <% end %>
                
               <p class="text-base text-body-color">
                  <span class="pr-0.5 text-blue-400">Not created account?</span>
                  <%= link_to "Sign up", new_registration_path(resource_name), class: "text-blue-600"%>
               </p>
               <div>
                  <span class="absolute top-1 right-1">
                     <svg
                        width="40"
                        height="40"
                        viewBox="0 0 40 40"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <circle
                           cx="1.39737"
                           cy="38.6026"
                           r="1.39737"
                           transform="rotate(-90 1.39737 38.6026)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="1.39737"
                           cy="1.99122"
                           r="1.39737"
                           transform="rotate(-90 1.39737 1.99122)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="13.6943"
                           cy="38.6026"
                           r="1.39737"
                           transform="rotate(-90 13.6943 38.6026)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="13.6943"
                           cy="1.99122"
                           r="1.39737"
                           transform="rotate(-90 13.6943 1.99122)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="25.9911"
                           cy="38.6026"
                           r="1.39737"
                           transform="rotate(-90 25.9911 38.6026)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="25.9911"
                           cy="1.99122"
                           r="1.39737"
                           transform="rotate(-90 25.9911 1.99122)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="38.288"
                           cy="38.6026"
                           r="1.39737"
                           transform="rotate(-90 38.288 38.6026)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="38.288"
                           cy="1.99122"
                           r="1.39737"
                           transform="rotate(-90 38.288 1.99122)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="1.39737"
                           cy="26.3057"
                           r="1.39737"
                           transform="rotate(-90 1.39737 26.3057)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="13.6943"
                           cy="26.3057"
                           r="1.39737"
                           transform="rotate(-90 13.6943 26.3057)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="25.9911"
                           cy="26.3057"
                           r="1.39737"
                           transform="rotate(-90 25.9911 26.3057)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="38.288"
                           cy="26.3057"
                           r="1.39737"
                           transform="rotate(-90 38.288 26.3057)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="1.39737"
                           cy="14.0086"
                           r="1.39737"
                           transform="rotate(-90 1.39737 14.0086)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="13.6943"
                           cy="14.0086"
                           r="1.39737"
                           transform="rotate(-90 13.6943 14.0086)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="25.9911"
                           cy="14.0086"
                           r="1.39737"
                           transform="rotate(-90 25.9911 14.0086)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="38.288"
                           cy="14.0086"
                           r="1.39737"
                           transform="rotate(-90 38.288 14.0086)"
                           fill="#3056D3"
                           />
                     </svg>
                  </span>
                  <span class="absolute left-1 bottom-1">
                     <svg
                        width="29"
                        height="40"
                        viewBox="0 0 29 40"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <circle
                           cx="2.288"
                           cy="25.9912"
                           r="1.39737"
                           transform="rotate(-90 2.288 25.9912)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="14.5849"
                           cy="25.9911"
                           r="1.39737"
                           transform="rotate(-90 14.5849 25.9911)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="26.7216"
                           cy="25.9911"
                           r="1.39737"
                           transform="rotate(-90 26.7216 25.9911)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="2.288"
                           cy="13.6944"
                           r="1.39737"
                           transform="rotate(-90 2.288 13.6944)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="14.5849"
                           cy="13.6943"
                           r="1.39737"
                           transform="rotate(-90 14.5849 13.6943)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="26.7216"
                           cy="13.6943"
                           r="1.39737"
                           transform="rotate(-90 26.7216 13.6943)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="2.288"
                           cy="38.0087"
                           r="1.39737"
                           transform="rotate(-90 2.288 38.0087)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="2.288"
                           cy="1.39739"
                           r="1.39737"
                           transform="rotate(-90 2.288 1.39739)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="14.5849"
                           cy="38.0089"
                           r="1.39737"
                           transform="rotate(-90 14.5849 38.0089)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="26.7216"
                           cy="38.0089"
                           r="1.39737"
                           transform="rotate(-90 26.7216 38.0089)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="14.5849"
                           cy="1.39761"
                           r="1.39737"
                           transform="rotate(-90 14.5849 1.39761)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="26.7216"
                           cy="1.39761"
                           r="1.39737"
                           transform="rotate(-90 26.7216 1.39761)"
                           fill="#3056D3"
                           />
                     </svg>
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- ====== Forms Section End -->